# Игнорируем файлы окружения
.env

# Игнорируем логи
logs/
*.log

# Игнорируем кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем виртуальное окружение
venv/
.env/

# Игнорируем файлы IDE
.vscode/
.idea/
*.iml

*.json